body {
  background-color: #181818;
  color: #fff;
  font-weight: 200;
  font-family: "Cascadia Code Bold", monospace;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  background-color: rgba(75, 75, 200, 0);
  max-width: 1200px;
  height: 100vh;
}
